################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/Api/bin/Debug/net9.0
/src/Api/obj
/src/AppHost/bin/Debug/net9.0
/src/Api/Api.csproj.user
/src/AppHost/obj
/src/ServiceDefaults/bin/Debug/net9.0
/src/ServiceDefaults/obj
/Application/obj
/Domain/obj
/src/Application/bin/Debug/net9.0
/src/Domain/bin/Debug/net9.0
/src/Infrastructure/bin/Debug/net9.0
/src/Infrastructure/obj
/src/Storage/Data
/src/Domain/obj
/src/Application/obj
/Domain.Tests/bin/Debug/net9.0
/Domain.Tests/obj
