################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/Api/bin/Debug/net9.0
/src/Api/obj
/src/AppHost/bin/Debug/net9.0
/src/Api/Api.csproj.user
/src/AppHost/obj
/src/ServiceDefaults/bin/Debug/net9.0
/src/ServiceDefaults/obj
/Application/obj
/Domain/obj
/src/Application/bin/Debug/net9.0
/src/Domain/bin/Debug/net9.0
/src/Infrastructure/bin/Debug/net9.0
/src/Infrastructure/obj
/src/Storage/Data
/src/Domain/obj
/src/Application/obj
/Domain.Tests/bin/Debug/net9.0
/Domain.Tests/obj
/SemanticKernel.sln.DotSettings.user
/src/Domain.Tests/bin/Debug/net9.0
/src/Domain.Tests/obj
/src/Hub/bin/Debug/net9.0
/src/Hub/obj
/src/Hub/Hub.csproj.user
/src/Api.Hub/bin/Debug/net9.0
/src/Api.Hub/obj
/src/Api.Hub/Api.Hub.csproj.user
/src/Infrastructure.Agents/bin/Debug/net9.0
/src/Infrastructure.Agents/obj
/src/Agents.Conversation/bin/Debug/net9.0
/src/Agents.Conversation/obj
/src/Agents.Conversation/Agents.Conversation.csproj.user
/src/Agents.Infrastructure/bin/Debug/net9.0
/src/Agents.Infrastructure/obj
/src/Agents.Summarizer/bin/Debug/net9.0
/src/Agents.Summarizer/obj
/src/Agents.Summarizer/Agents.Summarizer.csproj.user
/src/Agents.Conversation/bin/Debug/net9.0
/src/Agents.Conversation/obj
/src/Infrastructure.Agents/bin/Debug/net9.0
/src/Infrastructure.Agents/obj/Debug/net9.0
/src/Infrastructure.Agents/obj
/src/Agents.Conversation/Agents.Conversation.csproj.user
